

/*  for table  */
table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

img {
  max-width: 100%;
  height: auto;
}

table.equal .for_root{ /* สำหรับตาราง ที่ไม่มีเส้นขอบ เช่น ใช้กับเครื่องหมายรูท  */
border: 0px;
border-spacing:0px; 
border-width:0px; 
border-collapse: none;
font-family:verdana;
width:auto;
}

table.equal .for_root td{
padding:0px; 
border-spacing:0px; 
border-width:0px; 
font-size:larger;
}


table tr td.painted {   /*  สำหรับ บทสนทนาภาษาอังกฤษ ทำให้ขึ้นบรรทัดใหม่ ย่อหน้าตรงกัน  */
  background: #E0ECF8;
  border-style: hidden;
  vertical-align: top;
  /*  ส่งขึ้น ให้กำหนดเป็น 28px บน PC เป็น 18px; */
   font-size: 28px;
}



#showNotAvailable_notBuyVersion{
  margin: auto;
  width: 80%;
  background-color: yellow;
  padding: 10px;
    border-radius: 15px;
    border: 3px solid #bbbbbb;
    box-shadow: 0 0 0 3px #F7FC05,
                0 0 0 6px #00FFFF,
                0 0 0 9px #0000FF;
    text-align: center;
    margin-top:100px;
    display: none;
}

/* The Modal (background) */
.modal {
    display: none;  /*Hidden by default */

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px;
  /*   padding-top: 50px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);  /*Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
  /*  background-color: #808080;  */
    background-color: #FFFFFF; 
	color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    display: none;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    padding-bottom: 15px;
	font-size: 120%;
	font-family: Arial, Helvetica;
	height: 45px;
    background-color: #3F51B5;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
	font-size: 65%;
	height: 10px;
    background-color: #3F51B5;
    color: white;
}

/* for timer */
#timer {
	display: inline;
	color: red;
}

#timer_wrapper {
    width:100%;
	 height:40px;
	position: fixed;
    top:0; 
    left:0; 
    z-index:2000;
	border-bottom: 2px solid blue;
}

.timer_wrapper {
    font-family: sans-serif;
    font-size: 95%;
	background-color: white;
}

.timer_wrapper .row  {
    margin: 0px;
	vertical-align:bottom;
}
.timer_wrapper .row .btns {
	display: inline-block;
}
.timer_wrapper .row .details {
    display: inline-block;
	text-align:center;
	float:right;
}
 .timer_wrapper .row .details .duration {
    /*border: 1px solid blue;*/
}     
.timer_wrapper .row .details .timer {
    border: 1px solid orange;
}

.content {
margin: 40px auto 0;
overflow-x: hidden;
overflow-y: auto;
display: none;
	}


.passage-div {
      height: 40vh;
      width: 100%;
	  border-color: #0000;
	  overflow-y: scroll;
   background-color: #ffffcc;
    /*      background-color: #d2a56d;*/
    }
	

td.alignLeft{
	text-align: left;
}
td.alignRight{
	text-align: right;
}

td.alignCenter{
	text-align: center;
}


div.alignRight{
	text-align: right;
	}


.qstn-div {
      height: 40vh;
      width: 100%;      
	  border-style: solid dotted;
	  border-color: #4CAF50;
	  border-width: 1px;
      overflow-y: scroll;
      padding-left: 5px;
 background-color: #E0ECF8;
   /*         background-color: #d2a56d;*/
    }

table.shrink_text {  /* สำ  */
    border-collapse: collapse;
	overflow: scroll;
/*	max-width: 95vw; */

	font-size: 2.5vw;
}

td{
   vertical-align: top;
}

table, td, th {
    border: 1px solid #aaaaaa;
}

td.group_label { 
	font-weight: bold;
	color: white;
	text-align: center;
	vertical-align: middle;
background-color: Green;
/*			background-color: #d2a56d;  */
	}

td.sub_head { 
	font-weight: bold;
	color: yellow;
	text-align: center;
	vertical-align: middle;
background-color: #96ace7;
/* 		background-color: #d2a56d;  */
	}


tr:nth-child(even){background-color: #E0E0E0}
/*  tr:nth-child(even){background-color: #ce8b54}
tr:nth-child(odd){background-color: #d2a56d}*/


th {
/*    font-size: 100%; */
/* font-size: 1vw;  */
 background-color: #c3c388;
 /*       background-color: #d2a56d;*/
    color: white;
	text-align:center;
}

/* new tooltip modified by chatGPT  */


 .tooltip {
      position: relative;
      display: inline-block;
  /*    border-bottom: 1px dotted black;  */
    text-indent:0em;
	border-bottom: 2px dotted;
      cursor: pointer; /* Add cursor style for better user experience */
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 100%; /* Set the width to 100% of the screen */
      background-color: #022f71;
      color: #fff;
      text-align: center;
      border-radius: 0px;
      padding: 10px; /* Adjust padding for better appearance */
      box-sizing: border-box; /* Include padding in the total width */
      position: fixed; /* Fixed position to stay at the bottom */
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 2; /* Set a higher z-index to make it appear on top of buttons */
      transition: opacity 0.3s ease; /* Add transition for a smoother effect */

    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }


/*  end of tool tip modified by chatGPT */




/* for fraction */
.frac { display: inline-block;
    position: relative;
	  /*  font-size: small;
	       font-size: large;*/
	font-size: 25px;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;

}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
  /*  font-size: small;
     font-size: large; */
     font-size: 25px;
   // border-top: thin solid black;
   border-top: 2px solid black;
}
.frac span.symbol {
    display: none;
}

/* end of for fraction */

.checkMark{
    color: green;
}

.dblUnderlined { 
border-bottom: 5px double; 
}

table.equal {  /* สำหรับตาราง ที่ต้องการให้ช่องเท่ากันทุกช่อง  */
	table-layout: fixed;
    border-collapse: collapse;
	width:100%;
}

div.center_head{
	clear:both;
	 text-align: center;
	font-weight: bold;
	margin-top: 10px;
}

td.alignCenter{  /* สำหรับให้ตัวหนังสือ จัดกลาง ในช่องตาราง  */
	text-align: center;
}

.indent_15px{
    display:block;
    text-indent:15px;
	}

body {
    font-size: 1.8em;
}



/*
สำหรับโหมด มืด-สว่าง
*/
body {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}



